
@{
    ViewBag.Title = "Index";
}

<div class="form-content">
    <div class="col-lg-12">
        @Html.CategoryTreeFor(Id: 0, ObjectId: "CategoryTreeBox", ObjectName: "CategoryTreeBox")
    </div>
</div>