
@{
    ViewBag.Title = "Index";
}

@{ 
    Inta.Framework.Web.Manager.CategoryManager category = new Inta.Framework.Web.Manager.CategoryManager();
    foreach (var item in category.FindCategoryPageType().ToList())
    {
        <a href="@item.CategoryFullUrl" >@item.CategoryName</a>
    }

}
