@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ModuleName = "Tanımlamalar";
    ViewBag.PageName = "İletişim Bilgileri";
}

<div class="form-content">
    <div class="col-lg-12">
        <form id="search">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2">
                        Banner Adı
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="Name" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2">
                        Aktif Mi
                    </div>
                    <div class="col-lg-10">
                        @{
                            List<SelectListItem> selectListItems = new List<SelectListItem>();
                            selectListItems.Add(new SelectListItem { Text = "Tümü", Value = "-1" });
                            selectListItems.Add(new SelectListItem { Text = "Aktif", Value = "1" });
                            selectListItems.Add(new SelectListItem { Text = "Pasif", Value = "0" });

                            @Html.DropDownList("IsActive", selectListItems, new { @class = "form-control" });
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="button" id="filterRecord" onclick="SearchDataList()" class="btn btn-standart" data-toggle="modal">
                    Filtrele
                </button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="listMessage">
</div>

<div class="form-content">


    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                @{
                    List<PagingDataListColumn> col = new List<PagingDataListColumn>();
                    col.Add(new PagingDataListColumn
                    {
                        Name = "Select",
                        Text = "Seçiniz",
                        Width = 30
                    });
                    col.Add(new PagingDataListColumn
                    {
                        Name = "Id",
                        Text = "Id",
                        Width = 100,
                        Short = true

                    });
                    col.Add(new PagingDataListColumn
                    {
                        Name = "Name",
                        Text = "Ad",
                        Short = true
                    });

                    col.Add(new PagingDataListColumn
                    {
                        Name = "IsActive",
                        Text = "Durum",
                        Width = 100

                    });
                    col.Add(new PagingDataListColumn
                    {
                        Name = "Edit",
                        Text = "Düzenle",
                        Width = 100

                    });
                    col.Add(new PagingDataListColumn
                    {
                        Name = "Delete",
                        Text = "Sil",
                        Width = 100

                    });
                }
                @Html.PagingDataListFor(ObjectId: "ContactInformationList", Header: col, Url: "/ContactInformation/GetList", AddUrl: "/ContactInformation/Add", isAddPopup: true, DeleteUrl: "/ContactInformation/Delete", ActiveUrl: "/ContactInformation/Active", PassiveUrl: "/ContactInformation/Passive", SaveUrl: "/ContactInformation/Save", CallBackFunction: "SearchDataList", PagingRowCount: 20, OrderColumn: "Id")

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var SearchDataList = function () {
            $(function () {
                debugger;
                var val = { Name: null, IsActive: true };
                if ($("#search #Name").val() != "") {
                    val["Name"] = $("#search #Name").val();
                }
                if ($("#search #IsActive").val() != "") {
                    val["IsActive"] = $("#search #IsActive").val();
                }

                $PagingDataList.ReloadData("ContactInformationList", val);

            })
        }
        SearchDataList();
        $("#saveForm").submit(function (e) {
            debugger;
            e.preventDefault();
            $PagingDataList.Save("saveForm", "ContactInformationList", SearchDataList);

        });
    </script>
}
