
@{
    ViewBag.Title = "Index";
}

<div class="form-content">
    <div class="listMessage">
    </div>
    <div class="col-lg-12">
        @Html.CategoryTreeFor(Id: 0, ObjectId: "CategoryTreeBox", ObjectName: "CategoryTreeBox", AddUrl: "/Category/Add/0")
    </div>
</div>
@section scripts{
    <script>
    $(function () {
        $CategoryTree.Init();
    })

        @{
            if (Request["Message"]!= null)
            {
                @Html.Raw("showAlert('.listMessage', '"+ Request["Message"] + "', 'success');");
            }
        }
    </script>
}
